@charset "UTF-8";
/*Variabler*/
/*De variabler ovenover er gloable variabler*/
/*Mixin*/
/*Mixin er en måde at genbruge kode på. Man tager kode som bruges flere steder og samler det som en mixin*/
/*Vores partial fil hentes ind som et modul. Det gør det muligt for os at hente og genbruge variabler, mixins og funktioner i andre filer*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /*Betyder: gå ind i partial og find variablen $font*/
  background-color: #f0f0f0;
  /*Nesting- vi indsætter elementer som har direkte relation til øverste element af blokken (i dette tilfælde body)*/
}
body p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 600;
  color: #333;
}

/*Skip to main content code snippet fra:https://www.a11y-collective.com/blog/skip-to-main-content/ */
.screen-reader-text {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.screen-reader-text:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

img {
  max-width: 100%; /*Gør billeder responsive*/
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /*Her fortæller vi at vi skal have 5 kolonner af 1fr hver*/
  grid-auto-rows: minmax(50px, auto); /*Ved brug af minmax sikrer vi en min. størrelse på 50 px og max auto betyder den tilpasser sig*/
}

/*Navigation*/
header {
  grid-column: 1/6;
  background-color: #fff;
  border-bottom: 4px solid #388071; /*Laver den grønne streg under navigationen*/
}

nav {
  height: 4em;
  padding: 1em;
  /*$justify og $align er lokale variabler koblet til vores felx mixin. De er variabler der kan ændres, når vores mixin kaldes*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*Bruger vores mixin, men ændrer $justify til space-between*/
}
nav img {
  width: 70px;
}
nav #bars {
  display: none;
}
nav ul {
  list-style-type: none;
  /*$justify og $align er lokale variabler koblet til vores felx mixin. De er variabler der kan ændres, når vores mixin kaldes*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*Bruger vores partial flex til at få vores ul op ved siden af hinanden*/
}
nav a {
  color: #333;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
nav .active { /*Vores active class angiver hvilken side brugeren befinder sig på*/
  color: #388071;
}

/*Banner section*/
.header-img {
  grid-column: 1/6;
  border-bottom: 4px solid #388071;
  background-image: url(../img/computer.jpg); /*Husk punktum da vi først skal gå ud af vores css mappe og ind i vores img*/
  background-repeat: no-repeat;
  background-size: cover; /*Billedet skal fylde det hele*/
  background-position: center;
  height: 75vh; /*75vh svarer ca til 75% af skærmens størrelse*/
  width: 100vw;
  margin-bottom: 1em;
}
.header-img .banner-tekst {
  position: absolute;
  left: 5%;
  top: 25%;
}
.header-img .h1 {
  font-size: 3.5vw; /*Vi bruger vw enheden så tekstsstørrelsen ændrer sig i takt med skærmstørrelsen*/
}
.header-img p {
  font-size: 2vw;
}
.header-img a {
  background-color: #388071;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.header-img a:hover {
  background-color: #133833;
  transition: 0.3 ease-in-out;
  color: #fff;
}
.header-img a {
  position: absolute;
}

/*Forside main styling*/
main {
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
main .cta-wrapper {
  grid-column: 1/7;
}
main .cta-wrapper h2 {
  text-align: center;
  font-size: 30px;
}
main .cta-wrapper .cta-bokse {
  display: flex;
  justify-content: space-around;
}

/*CTA bokse*/
.cta-1, .cta-2, .cta-3 {
  background-color: #fff;
  width: 20vw;
  padding: 2em;
  margin: 2em auto;
}
.cta-1 img, .cta-2 img, .cta-3 img {
  width: 60%;
  display: block; /*Vi gør billedet til et block element for at kunne centrere med margin*/
  margin: 0 auto;
}
.cta-1 p, .cta-2 p, .cta-3 p {
  margin-bottom: 2em;
}
.cta-1 a, .cta-2 a, .cta-3 a {
  background-color: #388071;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.cta-1 a:hover, .cta-2 a:hover, .cta-3 a:hover {
  background-color: #133833;
  transition: 0.3 ease-in-out;
  color: #fff;
}
.cta-1 a, .cta-2 a, .cta-3 a {
  display: block; /*Ved at tilføje display: block; fylder knappen hele bredden af sin container*/
}

/*Tekst og billede sektion*/
.txt-img-section {
  grid-column: 1/7;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.tekst {
  grid-column: 1/5;
  background-color: #133833;
  padding: 2em 4em 4em 4em;
}
.tekst p, .tekst h2 {
  color: #f0f0f0;
}
.tekst p:nth-of-type(4) {
  margin-bottom: 3em;
}
.tekst h2 {
  text-align: left;
}
.tekst .secondary-btn {
  background-color: transparent;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.tekst .secondary-btn:hover {
  background-color: #fff;
  transition: 0.3 ease-in-out;
  color: #133833;
}
.tekst .secondary-btn {
  border: 2px solid #fff;
}

.billede {
  grid-column: 5/8;
  background-image: url(../img/presentation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*Kontaktformular*/
.kontakt-bg-img {
  grid-column: 1/7;
  background: linear-gradient(rgba(142, 142, 142, 0.8), rgba(142, 142, 142, 0.8)), url(../img/meeting.jpg); /*Vi bruger linear gradient til at lave overlay på billedet. Vi ændrer opaciteten til 0.8*/
  background-size: cover;
}

.kontaktform {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 1.3em;
  width: 50%;
  margin: 4em auto; /*4em giver luft i top/bund, auto centrerer kassen*/
}
.kontaktform h2 {
  font-size: 25px;
  margin-bottom: 0;
  margin-left: 0.5em;
}
.kontaktform p {
  margin-left: 1em;
}
.kontaktform .section-form {
  display: flex;
}

input[type=text], input[type=email], input[type=tel], select, textarea {
  width: 100%;
  font-size: 15px;
  padding: 1em;
  border: 2px solid #133833;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0.5em 1em 1em 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: #333;
}
input[type=text]::placeholder, input[type=email]::placeholder, input[type=tel]::placeholder, select::placeholder, textarea::placeholder {
  color: #333;
}

input[type=submit] {
  background-color: #388071;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
input[type=submit]:hover {
  background-color: #133833;
  transition: 0.3 ease-in-out;
  color: #fff;
}
input[type=submit] {
  font-size: 15px;
  border: none;
  width: 100%;
  margin: 0 1em;
  cursor: pointer;
}

.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*Footer*/
footer:nth-of-type(1) {
  grid-column: 1/6;
  background-color: #0a1f1c;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em 4em;
}
footer:nth-of-type(1) p, footer:nth-of-type(1) h4 {
  color: #fff;
  line-height: 0.5;
  font-style: normal;
}
footer:nth-of-type(1) h4 {
  font-size: 18px;
}
footer:nth-of-type(1) a {
  color: #fff;
}
footer:nth-of-type(1) a:hover {
  color: #388071;
}
footer:nth-of-type(1) .logo-footer {
  width: 100px;
  height: auto;
}

.footer-left {
  grid-column: 1/2;
}

.footer-right {
  grid-column: 2/3;
  text-align: right;
  margin: auto 0;
}

footer:nth-of-type(2) {
  grid-column: 1/6;
  background-color: #133833;
  text-align: center;
}
footer:nth-of-type(2) p {
  color: #f0f0f0;
}/*# sourceMappingURL=style.css.map */